<li>
  <img src={{content.imgUrl}}>

  <h3 class="likes">{{content.likes}}</h3>

</li>



<!-- {
    _id: "1",
    imgUrl: `https://robohash.org/${this._makeId()}.png`,
    likes: 120,
    comments: [
      {
        _id: "c1",
        name: "Alice",
        comment: "Great photo!",
        likes: 15,
        createdAt: new Date("2024-03-01T10:00:00"),
        comments: []
      },
      {
        _id: "c2",
        name: "Bob",
        comment: "Love this!",
        likes: 10,
        createdAt: new Date("2024-03-02T12:30:00"),
        comments: [
          {
            _id: "c2-1",
            name: "Carol",
            comment: "Totally agree!",
            likes: 5,
            createdAt: new Date("2024-03-02T13:00:00"),
            comments: []
          }
        ]
      }
    ],
    following: ["user2", "user3"]
  }, -->